/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  line-height: 25px;
  letter-spacing: 1.1px; }

body {
  color: #090B13;
  font-family: filson-pro; }

h1 {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px; }

h2 {
  font-weight: 500;
  font-size: 40px; }

h4 {
  font-weight: 300;
  font-size: 20px; }

p {
  font-weight: 300;
  font-size: 18px;
  width: 400px;
  margin-bottom: 30px; }
  p > span {
    font-weight: 500;
    color: #3A71D9; }

section {
  display: flex;
  padding: 100px 50px; }
  section:nth-of-type(even) {
    background: #F8F8FA; }

::selection {
  color: white;
  background: #3A71D9;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  color: white;
  background: #3A71D9;
  /* Gecko Browsers */ }

.headline {
  height: 100%;
  padding-top: 0;
  justify-content: space-around; }

.title {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.wallpaper-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 8px 55px 0px rgba(189, 198, 217, 0.56);
  -moz-box-shadow: 0px 8px 55px 0px rgba(189, 198, 217, 0.56);
  box-shadow: 0px 8px 55px 0px rgba(189, 198, 217, 0.56); }

.screenshot {
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 50px; }

.demo-image-container {
  position: relative; }

.demo-image {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.students, .stats {
  justify-content: space-around; }

.students-info > h2, .stats-info > h2 {
  margin-bottom: 80px; }

.students-images, .stats-images {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.students-images {
  position: relative;
  align-items: flex-end; }

.student-image, .stats-image {
  border-radius: 15px;
  margin-right: 12px;
  -webkit-box-shadow: 0px 8px 55px 0px rgba(189, 198, 217, 0.56);
  -moz-box-shadow: 0px 8px 55px 0px rgba(189, 198, 217, 0.56);
  box-shadow: 0px 8px 55px 0px rgba(189, 198, 217, 0.56); }

.selected-student-image {
  z-index: 10;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 0px 17px 55px 0px rgba(189, 198, 217, 0.56);
  -moz-box-shadow: 0px 17px 55px 0px rgba(189, 198, 217, 0.56);
  box-shadow: 0px 17px 55px 0px rgba(189, 198, 217, 0.56); }

@media (max-width: 1000px) {
  section {
    flex-direction: column;
    align-items: center; }
  img {
    width: 50%;
    height: auto; }
  .demo-image {
    width: 60%;
    min-width: 500px; }
  .selected-student-image {
    width: 57%;
    height: auto; }
  .wallpaper {
    width: 100%;
    height: auto; }
  .screenshot {
    width: 70%;
    height: auto; } }

@media (max-width: 550px) {
  h1 {
    font-size: 60px; }
  section {
    padding: 50px 10px; }
  .screenshot {
    width: 70%;
    height: auto; }
  .demo-image {
    width: 90%;
    min-width: 300px; } }


/*# sourceMappingURL=bundle.css.map*/