.container {
  box-sizing: border-box;
  height: 100%;
  padding: 30px;
  width: calc(100% - 230px);
  margin-left: 230px;
  background: var(--background);
  color: var(--darktext);
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  width: 80%;
}
