.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 0.8px;
  height: 65px;
}

.container:nth-child(2) {
  margin-bottom: 15px;
}

.label {
  font-size: 13px;
  margin-bottom: 7px;
}

.inputContainer {
  width: 100%;
  display: flex;
}

.input {
  flex-grow: 1;
  height: 26px;
  font-size: 12px;
  letter-spacing: 1px;
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 0 0 0 10px;
}

input::placeholder {
  color: rgba(var(--placeholder), 0.35);
  letter-spacing: 1.2px;
}
