.link {
  width: calc(100% - 50px); /* To get the tab like effect */
  margin-right: 20px;
  color: inherit;
  font-weight: 400;
  padding-left: 34px;
  font-size: 14px;
  height: 35px;
}

.link * {
  padding: 0;
}

.link:hover {
  transition: all 0.1s ease-in-out;
  border-radius: 0 8px 8px 0;
  background: var(--sidebar-hover);
  cursor: pointer;
}
