.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 230px;
  background-image: radial-gradient(
    400px 820px at 100% 10%,
    #28add1 10%,
    #2291c6 35%,
    #2684c5,
    #3166c5,
    #4a54b5 90%,
    #5648a2
  );
  color: var(--sidebar-links);
  border-radius: 3px 0 0 3px;
}
.credits {
  display: flex;
  justify-content: center;
  width: 230px;
  height: 20px;
  font-weight: 100;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  letter-spacing: 0.5px;
  color: var(--text);
  opacity: 0.23;
}
