.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  padding: 10px 0 10px 25px;
  box-sizing: border-box;
  width: 100%;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--title);
}

.title h1 {
  margin: 0 10px 0 0;
}

.logo {
  fill: transparent;
  stroke: var(--title);
  stroke-width: 13px;
  stroke-dasharray: 18, 18.8;
}
