.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.number {
  font-size: 27px;
  color: var(--primary);
}

.month,
.day {
  opacity: 0.7;
  font-weight: 100;
}
