$body-color: #151F29;
$accent-color: #3A71D9;
$background-color: #F8F8FA;

html, body {
  height: 100%;
}

body {
  color: $body-color;
  font-family: filson-pro;
}

h1 {
  font-weight: 700;
  font-size: 70px;
}

h2 {
  font-weight: 300;
  font-size: 40px;
}

h4 {
  font-weight: 300;
  font-size: 20px;
}

p {
  font-weight: 300;
  font-size: 15px;

  > span {
    font-weight: 500;
    color: $accent-color;
  }
}

section {
  display: flex;

  &:nth-of-type(even) {
    background: $background-color;
  }
}

::selection {
  color: white;
  background: $accent-color; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: white;

  background: $accent-color; /* Gecko Browsers */
}