.headline {
  height: 100%;
  padding-top: 0;
  justify-content: space-around;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wallpaper-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: 0px 8px 55px 0px rgba(189,198,217,0.56);
  -moz-box-shadow: 0px 8px 55px 0px rgba(189,198,217,0.56);
  box-shadow: 0px 8px 55px 0px rgba(189,198,217,0.56);
}

.screenshot {
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 50px;
}

.demo-image-container {
  position: relative;
}

.demo-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.students, .stats {
  justify-content: space-around;
}

.students-info, .stats-info {
  > h2 {
    margin-bottom: 80px;
  }
}

.students-images, .stats-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.students-images {
  position: relative;
  align-items: flex-end;
}

.student-image, .stats-image {
  border-radius: 15px;
  margin-right: 12px;
  -webkit-box-shadow: 0px 8px 55px 0px rgba(189,198,217,0.56);
  -moz-box-shadow: 0px 8px 55px 0px rgba(189,198,217,0.56);
  box-shadow: 0px 8px 55px 0px rgba(189,198,217,0.56);
}

.selected-student-image {
  z-index: 10;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 0px 17px 55px 0px rgba(189,198,217,0.56);
  -moz-box-shadow: 0px 17px 55px 0px rgba(189,198,217,0.56);
  box-shadow: 0px 17px 55px 0px rgba(189,198,217,0.56);
}
