@media (max-width: 1000px) {
  section {
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 50%;
    height: auto;
  }

  .demo-image {
    width: 60%;
    min-width: 500px;
  }

  .selected-student-image {
    width: 57%;
    height: auto;
  }

  .wallpaper {
    width: 100%;
    height: auto;
  }

  .screenshot {
    width: 70%;
    height: auto;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 60px;
  }
  section {
    padding: 50px 10px;
  }
  .screenshot {
    width: 70%;
    height: auto;
  }
  .demo-image {
    width: 90%;
    min-width: 300px;
  }
}