/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~react-circular-progressbar/dist/styles.css';

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  -webkit-app-region: no-drag;
  line-height: 1;
  user-select: none;
  cursor: default;
  position: relative;
  color: white;
  height: 100vh;
  background: none;
  font-weight: 100;
  font: menu;
}

input {
  font: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.041);
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}

::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.3);
}

*:focus {
  outline: none;
}

.star-ratings {
  margin: 0 15px;
}

div > .repo__control {
  border: 0;
  background: var(--content-background);
  box-shadow: 0 3px 5px 1px var(--shadow);
  border-radius: 8px;
}

div > .repo__indicator-separator {
  background: var(--text);
}

div > .repo__dropdown-indicator {
  color: var(--text);
}

div > .repo__dropdown-indicator:hover {
  color: var(--darktext);
}
