* {
    box-sizing: border-box;
    font-family: IBM Plex Sans, Tahoma, Geneva, Verdana, sans-serif;
    color: #2C3B4B;

    --button-bg: #B1C0B2;
    --button-bg-hover: #8fa59b;
    --button-bg-active: #657e73;
    --bg: #eceef1;
    --border: #DCDEE1;
    --error: #A3461F;
    --input-focus: #72b9c9;
}

body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: var(--bg);
}

input[type=text] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 4px;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 5px;
    margin: 5px 1px 3px 0px;
  }

input[type=text]:focus {
    box-shadow: 0 0 3px var(--input-focus);
    padding: 3px 0px 3px 5px;
    margin: 5px 1px 3px 0px;
    border: 1px solid var(--input-focus);
}

.button:focus {
    outline: none;
}

.button {
    position: relative;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    overflow: hidden;
}

.button:after {
    content: "";
    background: var(--button-bg-active);
    border-radius: 50%;
    position: absolute;
    padding: 10px;
    transform: scale(5.0);
    margin: 0 calc(50% - 5px) 0 calc(-50% + 5px);
    opacity: 0;
    transition: all 0.7s
}

.button:active:after {
    transform: scale(1.0);
    opacity: 0.7;
    transition: 0s
}

.container-app {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 810px;
}

.container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 8px;
    padding: 5px 15px 5px 15px;
    margin: 4px 0;
    background-color: white;
}

.contentSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 5px 0;
}

.inputContainer-students {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.container-block--small {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

.container-button {
    display: flex;
    justify-content: flex-start;
    padding: 4px 4px 4px 0;
    border-radius: 5px;
}

/* .container-functions {
    display: flex;
    justify-content: flex-start;
} */

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.title {
    margin: 0 20px 0 0;
}

.button {
    color: #242424;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 0;
    background: var(--button-bg);
    margin: 0 5px 0 0;
}

.button:hover {
    transition: background-color 0.15s ease-in-out;
    background-color: var(--button-bg-hover);
    cursor: pointer;
}

.label-block {
    font-size: 0.9em;
    padding: 0 0 0 2px;
    margin: 0 10px 0 0;
}

.error {
    border: 1px solid var(--error) !important;
}

@media (max-width: 870px) {
    .container-app {
        width: 90%;
    }
}