* {
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    background-color: rgb(198, 227, 240)
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 810px;
}

.contentRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(96, 147, 180);
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    margin: 2px 0;
    background-color: white;
}

.contentSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 0 0 0;
}

.blockContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-image: linear-gradient(to right, lightgray 0%, white 50%, lightgray 100%); */
    padding: 4px;
    border-radius: 5px;
    margin: 5px;
}

.blockContainer-sml {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4px;
    border-radius: 5px;
}

.btnContainer {
    display: flex;
    justify-content: flex-start;
    padding: 4px;
    border-radius: 5px;
}

.block-red {
    background-image: linear-gradient(to right, rgb(247, 167, 167) 0%, rgb(255, 215, 215) 50%, rgb(247, 167, 167) 100%);
}

.block-blue {
    background-image: linear-gradient(to right, rgb(167, 167, 247) 0%, rgb(215, 215, 255) 50%, rgb(167, 167, 247) 100%);
}

.block-green {
    background-image: linear-gradient(to right, rgb(167, 247, 167) 0%, rgb(215, 255, 215) 50%, rgb(167, 247, 167) 100%);
}

.headerMenu {
    display: flex;
    justify-content: space-evenly;
}

.btn_sml {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid lightgray;
    background-image: linear-gradient(gray,silver);
    margin: 0 3px 0 0;
}

.btn_lg {
    padding: 5px 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid lightgray;
    background-image: linear-gradient(gray,silver);
    margin: 0 3px 0 0;
}

.btn_sml:hover, .btn_lg:hover {
    color: white;
    border: 1px solid rgb(96, 147, 180);
    background-image: linear-gradient(rgb(68, 68, 68),rgb(141, 141, 141));
    cursor: pointer;
}

.contentLabel {
    font-size: 0.8em;
    margin: 0 10px 2px 0;
}

.contentInput {
    display: flex;
    width: 416px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 4px;
    margin: 0;
}

.studentInput {
    display: flex;
    width: 200px;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 4px;
}

.studentUsername {
    display: flex;
    width: 200px;
    margin: 0 10px 0 0;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 4px;
}

@media (max-width: 870px) {
    .container {
        width: 462px;
        min-width: 462px;
    }
}