.container {
  position: absolute;
  z-index: 500;
  right: 0;
  top: 25px;
  width: 100px;
  background: var(--content-background);
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 5px 3px var(--shadow);
}

.button {
  background: none;
  color: var(--darktext);
  border: 0;
  padding: 5px;
  width: 100%;
}

.button:hover {
  cursor: pointer;
  background: var(--hover);
}

.open {
  transition: all 0.2s ease-in-out;
  top: 25px;
  opacity: 1;
  pointer-events: auto;
}
