.container {
  position: absolute;
  z-index: 500;
  right: 0;
  top: 25px;
  width: 100px;
  background: white;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.button {
  background: none;
  color: black;
  border: 0;
  width: 100%;
}

.button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}

.open {
  transition: all 0.2s ease-in-out;
  top: 25px;
  opacity: 1;
  pointer-events: auto;
}
