.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--content-background);
  padding: 0 15px;
  height: 74px;
  box-shadow: 0 3px 5px 1px var(--shadow);
  border-radius: 8px;
  margin-bottom: 16px;
  /* overflow: hidden; */
}

.inputs {
  width: 40%;
}

.inputs * {
  /* background: rgba(48, 64, 82, 0.02); */
  color: var(--darktext);
  border-radius: 4px;
  padding: 3px 10px;
  width: 100%;
  border: 0;
  margin: 2px 0;
  letter-spacing: 1.5px;
}

.inputs *:hover,
.inputs *:focus {
  background: var(--hover);
}

.studentName {
  font-size: 14px;
}

.studentUsername {
  font-size: 12px;
}

.inputs *::placeholder {
  color: rgba(var(--placeholder), 0.35);
}

.clonePull,
.comment {
  background: none;
  border: 0;
}

.clonePull,
.comment,
.menu {
  padding: 7px;
  margin-top: 2px;
  border-radius: 4px;
}

.menu {
  background: none;
  border: 0;
}

.clonePull:hover,
.comment:hover,
.menu:hover {
  transform: all 0.1s ease-in-out;
  cursor: pointer;
  background: var(--hover);
}

.icon {
  fill: none;
  stroke: var(--text);
  fill-rule: evenodd;
}
.menuIcon {
  fill: var(--text);
}

.buttons {
  position: relative;
  display: flex;
  align-items: center;
}
